* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(45deg, #051937 11.4%, #234d6e 70.2%);
}

a {
  text-decoration: none;
}